.ui.progress, .ui.progress .bar {
  height: 50px;
}

.ui.progress {
  background: #fff;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.application {
  display: flex;
  padding-bottom: 50px;
}

.application-hr {
  margin: 50px 0;
  border-color: #e3e3e6;
}

.application .progress-labels {
  color: #1b1c1d;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 12px 75px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notes {
  min-height: 100px;
}

.ui.progress .bar {
  background: #bbb;
  border-radius: 0;
}

.application .chat-history .ui.form textarea {
  font-size: 14px;
  border: none;
  border-top: 1px solid #ddd;
  border-radius: 0;
}

.application .ui.form textarea.notes {
  font-size: 14px;
  border: none;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.chat-history {
  width: 60%;
  margin: 0;
  margin-right: 30px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.notes {
  width: 40%;
  margin: 0;
  height: 333px;
}

.in-progress-btns-wrapper {
  padding-top: 20px;
}

.application .chat-box {
  background: #fff;
  width: 100%;
  margin: 0;
  height: 273px;
  border: none;
  pointer-events: none;
  line-height: 24px !important;
  font-size: 14px;
  padding: 10px 15px;
}

.chat-box:focus {
  outline: none;
}

.chat-note-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.new-message {
  height: 60px;
  font-size: 14px;
}

.in-progress-btns-wrapper .decline-btn {
  float: left;
  margin-right: 10px !important;
}

.in-progress-btns-wrapper .archive-btn {
  float: left;
  margin-right: 10px !important;
}

.in-progress-btns-wrapper .offer-btn {
  float: left;
  margin-right: 10px !important;
}

.in-progress-btns-wrapper .interview-btn {
  float: left;
  margin-right: 10px !important;
}

.in-progress-btns-wrapper .save-btn {
  float: right;
}

.ui.card.offer-letter-card {
  min-height: 333px;
  padding: 35px !important;
}

.hire-message .ui.progress .bar {
  background: #2185d0;
}

.hire-message .hire-message-text {
  position: absolute;
  top: 5px;
  width: 97%;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.ui.button.decline-offer-btn, .ui.button.accept-offer-btn {
  margin-right: 10px;
}

.ui.button.decline-offer-btn {
  float: right;
}

.offer-letter-buttons {
  margin-top: 20px;
}

.employer-profile-view .cover-letter {
  padding: 35px;
}

.employer-profile-view .job-view {
  padding: 10px 15px !important;
}

