.ui.progress, .ui.progress .bar {
  height: 50px;
}

.ui.progress {
  background: #fff;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.application {
  display: flex;
  padding-bottom: 50px;
}

.application-hr {
  margin: 50px 0;
  border-color: #e3e3e6;
}

.application .progress-labels {
  color: #1b1c1d;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 12px 75px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notes {
  min-height: 100px;
}

.archive-btn {
  float: right;
  position: relative;
  top: 20px;
}

.save-notes-btn {
  float: right;
  position: relative;
  top: 20px;
}

.decline-btn, .interview-btn {
  position: relative;
  top: 20px;
  margin-right: 10px !important;
}

.ui.progress .bar {
  background: #bbb;
  border-radius: 0;
}

.application .chat-history .ui.form textarea {
  font-size: 14px;
  border: none;
  border-top: 1px solid #ddd;
  border-radius: 0;
}

.application .ui.form textarea.notes {
  font-size: 14px;
  border: none;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.chat-history {
  width: 60%;
  margin: 0;
  margin-right: 30px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.notes {
  width: 40%;
  margin: 0;
  height: 333px;
}

.in-progress-btns-wrapper {
  padding-top: 10px;
}

.application .chat-box {
  background: #fff;
  width: 100%;
  margin: 0;
  height: 273px;
  border: none;
  pointer-events: none;
  line-height: 24px !important;
  font-size: 14px;
  padding: 10px 15px;
}

.chat-box:focus {
  outline: none;
}

.chat-note-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.new-message {
  height: 60px;
  font-size: 14px;
}
