.tile .name {
  font-size: 1.3em;
  display: block;
  color: #333;
}

.tile .position, .title {
  display: block;
  font-size: 1em;
  padding-top: 5px;
  color: #2185d0;
}

.tile .content {
  height: 163px;
  overflow-y: auto;
}

.tile .content-sub-view {
  height: 368px;
  overflow-y: auto;
}

.tile .small-logo {
  width: 50px;
  height: 50px;
  margin-left: 10px !important;
}

.jobs-wrapper .tile .ui.card {
  max-height: 460px;
  height: 460px;
  margin-bottom: 50px;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 109;
  height: 41px;
  bottom: 0;
  padding-left: 25px;
  right: 0;
  width: 50px;
  border-radius: 3px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.content ul {
  padding-left: 15px;
}

.next:hover {
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.05));
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.ui.card>.extra, .ui.cards>.card>.extra {
  height: 42px;
}

.prev {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 109;
  height: 41px;
  bottom: 0;
  padding-right: 25px;
  left: 0;
  width: 50px;
  border-radius: 3px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.prev:hover {
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.05));
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.ui.card {
  width: 100%;
}

.ui.card>.extra {
  overflow-y: visible;
}

.btn-group-wrapper {
  margin-top: -11px;
  height: 41px;
  padding: 8px;
}

.btn-group-wrapper .ui.button {
  background: #fff;
}

.tile .ui.buttons .button {
  background: #fff;
}

.btn-group-wrapper .ui.button:hover {
  background: #fff;
}

.tile .ui.buttons .button:hover {
  background: #f9f9f9;
}

.tile .logo-wrapper {
  padding: 15px;
  height: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.description span {
  display: block;
}

.tile {
  width: 25%;
  padding: 0 20px;
}
