.main-menu {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
  position: relative;
  z-index: 100;
  background: #fff;
}

.search-input {
  width: 48%;
  margin-right: 2%;
}

.inbox-icon {
  font-size: 30px;
}

.menu-icons {
  height: 38px;
  margin-bottom: 0;
  padding: 5px 0;
}

.menu-icons li {
  padding-left: 15px;
  padding-right: 15px;
}

.advanced-btn {
  height: 38px;
}

.logo {
  margin-left: 20px;
}

.advanced.active {
  height: 60px;
  opacity: 1;
  overflow: visible;
  background: #f7f7f7;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.advanced {
  height: 0;
  opacity: 0;
  overflow: hidden;
  background: #f7f7f7;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.advanced .advanced-col {
  margin-top: 10px;
  padding-left: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease 0.2s;
  -webkit-transition: all 0.3s ease 0.2s;
}

.advanced.active .advanced-col {
  height: 60px;
  opacity: 1;
  overflow: visible;
  transition: all 0.3s ease 0.2s;
  -webkit-transition: all 0.3s ease 0.2s;
}

.advanced-col:first-of-type {
  padding-left: 30px;
}

.advanced-col div {
  width: 100%;
}

.apply-filters-btn {
  height: 38px;
}

.advanced .ui.basic.button {
  height: 38px;
  margin-left: 10px;
  background: #fff !important;
}

.search-input-wrapper {
  padding-right: 0;
}

.search-btns-wrapper {
  padding-left: 0;
}

.search-btn {
  height: 38px;
}
