#table-container {
  width: 100%;
  padding: 50px 35px;
  height: calc(100% - 62px);
  background-image: url('/back3.jpg');
  background-repeat: repeat;
}

#history-table{
  width: 1100px;
  padding: 35px;
  margin: auto;
}

.ui.table thead th {
  background: #fff !important;
}

.ui.black.table {
  border-top: 1px solid rgba(34,36,38,.15);
}
