.no-practice-rooms-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-practice-rooms-card.ui.card {
  padding: 50px;
  margin-top: 150px;
  width: 700px;
}

.no-practice-rooms-card .or {
  padding: 0;
}

.no-practice-rooms-card h4 {
  padding: 0;
}

.no-practice-rooms-card h3 {
  margin-top: 20px;
}

.ui.card>.button.new-room-btn {
  width: 150px;
  margin: 10px auto 0;
  border-radius: 3px !important;
}

.room-link {
  width: 100%;
}
