.text-padding {
  margin-top: 12px;
}

.type {
  margin-top: 7px;
}

.summary {
  padding: 15px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.skills-wrapper .ui.segment {
  margin: 0 5px 5px 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center
}

.userProfileForm form div {
  margin: 0;

}

.userProfileForm form div input, userProfileForm form div dropdown, userProfileForm form div button, userProfileForm form div experience {
 height: 38px;
}

.blue-text {
  color: #2185d0;
}

.save-button {
  height: 38px;
  font-size: 16px;
}

.userProfileForm .ui.input{
  margin-top: 20px;

}

.userProfileForm .ui.fluid.dropdown {
  margin-top: 20px;
}

.userProfileForm .ui.form textarea.userDesc{
  margin-top: 20px;
  font-size: 14px;
  height: 200px;

}

.userProfileForm .ui.fluid.dropdown {
  height: 38px;
  font-size: 14px;
  vertical-align: top;
}

.userProfileForm .ui.input {
  font-size: 14px;
}


.camera-on, .still-pic, .user-video {
  display: block;
  width: 300px;
  height: 250px;
  background-color: #333;
}


#stillDiv canvas{
  width: 300px;
  height: 230px;
}

#canvasDiv video{
  width: 300px !important;
  height: 250px !important;

}
.skills {
  margin-top: 40px
}


#fileInput {
  display: none;
}
