.text-padding {
  margin-top: 12px;
}

.type {
  margin-top: 7px;
}

.summary {
  padding: 15px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.skills-wrapper .ui.segment {
  margin: 0 5px 5px 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center
}

.userProfileForm form div {
  margin: 0;
  margin-top: 20px;
}

.userProfileForm form div input, dropdown, button, experience {
 height: 38px;
}

.blue-text {
  color: #2185d0;
}

.save-button {
  height: 38px;
  font-size: 16px;
}

.userDesc {
  height: 200px;

}

.ui.fluid.dropdown {
  height: 38px;
}

.ui.form textarea{
  margin-top: 20px;
}
