.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
}

.login-panel {
  width: 400px;
  height: 400px;
  background: #f7f7f7;
}

#google {
  width:200px;
  height: 40px;
  color: white;
  background-color: red;
}