.banner {
  height: 600px;
  background-image: url('/workit-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -150px;
  display: flex;
  align-items: center;
}

.banner h1 {
  font-size: 45px;
  color: #fff;
}

.banner h2 {
  font-size: 40px;
  font-weight: 200;
  color: #fff;
  margin-left: 20px;
  padding-top: 10px
}

.feature {
  margin-top: 50px;
}

.feature-img {
  box-shadow: 0 2px 5px 0 #c4c4c5;
  border-radius: 3px;
}

.home .heading {
  padding-bottom: 50px;
}

.home .row {
  padding: 0 35px 50px;
  width: 100%;
}

.feature-title {
  color: #2185d0;
}

.home .buttons-wrapper {
  margin-top: 20px;
}

.home .buttons-wrapper button.ui.basic.blue.button,
.home .buttons-wrapper button.ui.basic.black.button {
  margin: 0 15px;
  font-size: 24px;
  width: 152px;
}

.banner-text.row {
  margin: -75px 0 0;
  background-image: url('/blue-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.banner .buttons-wrapper {
  position: absolute;
  margin-top: 192px;
}
