.interview-board-container {
  flex-direction: row;
  display: flex;
  height: calc(100% - 52px);
  overflow: hidden;
  padding: 0;
  margin:0;
  border: 1px black
}

video {
  width: 250px !important;
}

.end-btn {
  position: absolute;
  right: 513px;
  margin-top: 15px !important;
}
.whiteboard-action-btn {
  position: absolute;
  right: 515px;
}

.sidebar {
  height: 100%;
  flex-direction: column;
  padding: 0;
  margin: -1px;
  min-width: 500px;
  max-width: 500px;
  float: right;
}

.video {
  height: 187px;
  padding: 0;
  background: #111;
  overflow: hidden;
}

.interview {
  width: 100%;
  padding: 0;
  border-right: 1px solid lightgray;
  overflow: hidden;

}

.questions {
  height: calc(100% - 187px);
}

.questions div {
  height: 100%;
}

.ui.tabular.menu .active.item {
  border-radius: 0 !important;
}

.ui.attached.segment {
  border-bottom: none;
  height: 100%;
  overflow-y: scroll;
  padding: 35px 35px 50px 35px;
}

.question-buttons {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  height: 41px !important;
  right: -1px;
  padding: 5px 0;
  background: #fff;
  width: calc(100% - 12px);
  top: -38px;
}

.question-buttons .ui.large.button {
  margin: 5px 10px;
}

#videos-container {
  display: flex
}
