.interview-board-container {
  flex-direction: row;
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin:0;
  border: 1px black

}

.sidebar {
  height: 100%;
  flex-direction: column;
  padding: 0;
  margin: -1px;
  min-width: 400px;
  max-width: 400px;
  float: right;
}

.video {
  height: 40%;
  padding: 0;
}

.interview {
  padding: 0;
  border: 1px solid lightgray;
  overflow: hidden;

}

.questions {
  height: 60%;
}


.ui.attached.segment {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
}
