.schedule-session {
  width: 100%;
  padding: 5px;
}

.schedule-session h4 {
  font-size: 14px !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.schedule-session.waiting {
  background: linear-gradient(#f1f1f1, #e7e7e7);
  border-top: 1px solid #ddd;
}

.schedule-session.paired {
  background: linear-gradient(#00ff5e73, #00c44873);
  border-top: 1px solid #01823073;
}

.schedule-session.available {
  background: linear-gradient(#00a7ff73, #0084cb73);
  border-top: 1px solid #005d8f73;
}

.schedule-session.interviewProposed {
  background: linear-gradient(#ff8c0073, #c66d0073);
  border-top: 1px solid #b3630173;
}

.schedule-session.interviewPaired {
  background: linear-gradient(#ff000073, #c7000073);
  border-top: 1px solid #8f010173;
}

