.schedule-session {
  width: 100%;
  padding: 5px;
}

.schedule-session h4 {
  font-size: 14px !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.schedule-session.waiting {
  background: #eaeaea;
  border-top: 1px solid #ddd;
}

.schedule-session.paired {
  background: #00ff5e73;
  border-top: 1px solid #00d34e73;
}

.schedule-session.available {
  background: #00a7ff73;
  border-top: 1px solid #0087d073;
}

.schedule-session.interviewProposed {
  background: #ff8c0073;
  border-top: 1px solid #ce720173;
}

.schedule-session.interviewPaired {
  background: #ff000073;
  border-top: 1px solid #d0000073;
}

