.user-saved {
  background-image: url('/back3.jpg');
  background-repeat: repeat;
  min-height: calc(100% - 62px);
}

.user-saved .jobs-wrapper {
  position: relative;
  top: -10px;
}

.no-saved-jobs-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-saved-jobs-card.ui.card {
  margin-top: 150px;
  width: 600px;
}

.no-saved-jobs-card h4 {
  padding: 50px 0;
  text-align: center;
}
